<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="default" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <class>br.edu.ufam.icomp.projeto4.model.Aluno</class>
    <class>br.edu.ufam.icomp.projeto4.model.Atividade</class>
    <class>br.edu.ufam.icomp.projeto4.model.Curso</class>
    <class>br.edu.ufam.icomp.projeto4.model.Grupo</class>
    <class>br.edu.ufam.icomp.projeto4.model.Professor</class>
    <class>br.edu.ufam.icomp.projeto4.model.Regra</class>
    <class>br.edu.ufam.icomp.projeto4.model.Solicitacao</class>
    <class>br.edu.ufam.icomp.projeto4.model.Usuario</class>
    <class>br.edu.ufam.icomp.projeto4.model.Mudanca</class>
    <class>br.edu.ufam.icomp.projeto4.model.Secretaria</class>
    <class>br.edu.ufam.icomp.projeto4.model.PeriodoCadMon</class>
    <class>br.edu.ufam.icomp.projeto4.model.Disciplina</class>
    <class>br.edu.ufam.icomp.projeto4.model.Monitoria</class>
    <class>br.edu.ufam.icomp.projeto4.model.InscricaoMonitoria</class>
    <class>br.edu.ufam.icomp.projeto4.model.PeriodoInsMon</class>
    <class>br.edu.ufam.icomp.projeto4.model.Notificacao</class>
    <class>br.edu.ufam.icomp.projeto4.model.CoordenadorCurso</class>
    <class>br.edu.ufam.icomp.projeto4.model.PeriodoLetivo</class>
    <class>br.edu.ufam.icomp.projeto4.model.CoordenadorAcademico</class>
    <class>br.edu.ufam.icomp.projeto4.model.RegraGrupo</class>
    <class>br.edu.ufam.icomp.projeto4.model.Aprovacao</class>
    <class>br.edu.ufam.icomp.projeto4.model.Estagio</class>
    <class>br.edu.ufam.icomp.projeto4.model.Frequencia</class>
    <class>br.edu.ufam.icomp.projeto4.model.FrequenciaEstagio</class>
    <class>br.edu.ufam.icomp.projeto4.model.FrequenciaMensal</class>
    <class>br.edu.ufam.icomp.projeto4.model.FrequenciaMensalEstagio</class>
    <class>br.edu.ufam.icomp.projeto4.model.RelatorioFinal</class>
    <class>br.edu.ufam.icomp.projeto4.model.HorarioTurma</class>
    <class>br.edu.ufam.icomp.tcc.model.TccTema</class>
    <class>br.edu.ufam.icomp.tcc.model.TccLocais</class>
    <class>br.edu.ufam.icomp.tcc.model.TccTcc</class>
    <class>br.edu.ufam.icomp.tcc.model.TccAtividade</class>
    <class>br.edu.ufam.icomp.tcc.model.TccSolicitacao</class>
    <class>br.edu.ufam.icomp.tcc.model.TccAvaliador</class>
    <class>br.edu.ufam.icomp.tcc.model.TccNotas</class>
    <class>br.edu.ufam.icomp.tcc.model.TccWorkshop</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/extra_curricular"/>
      <property name="javax.persistence.jdbc.password" value="kx8964t"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
      <property name="hibernate.connection.provider_class" value="org.hibernate.connection.C3P0ConnectionProvider"/>
      <property name="hibernate.c3p0.idle_test_period" value="50"/>
      <property name="hibernate.c3p0.preferredTestQuery" value="select 1;"/>
      <property name="hibernate.c3p0.acquire_increment" value="3"/>
      <property name="hibernate.c3p0.timeout" value="10200"/>
      <property name="hibernate.c3p0.min_size" value="1"/>
      <property name="hibernate.c3p0.max_size" value="20"/>
      <property name="hibernate.c3p0.max_statements" value="0"/>
      <property name="hibernate.hbm2ddl.auto" value="update"/>
      <property name="hibernate.show_sql" value="true"/>
    </properties>
  </persistence-unit>
</persistence>
